:root {
    /*fonts*/
    --main-font: 'Roboto', font-family;
    --secondary-font: 'Raleway', font-family;

    /*colors*/
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --text-main-color: #000000;
    --text-color: #ffffff;
    --accent-color: #2196f3;



    /*otheborr*/
    --indent: 30px;
    --items: 3;
}