/*Clients*/

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  align-items: center;
  justify-content: center;
  /*gap: 30px;*/
  padding: 0;
}

.clients__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 52px;

  @media screen and (min-width: 1200px) {
    padding: 16px 32px;
  }

  /*width: 170px;*/
  /*height: 92px;*/
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: rgba(175, 177, 184, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.clients__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.clients__icon {
  fill: currentColor;
}
